@font-face {
  font-family: "Gilroy-Black";
  font-display: swap;
  src: url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-BlackItalic";
  font-display: swap;
  src: url("../fonts/Gilroy-BlackItalic.woff") format("woff"), url("../fonts/Gilroy-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-BoldItalic";
  font-display: swap;
  src: url("../fonts/Gilroy-BoldItalic.woff") format("woff"), url("../fonts/Gilroy-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy-ExtraboldItalic";
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraboldItalic.woff") format("woff"), url("../fonts/Gilroy-ExtraboldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy-Extrabold";
  font-display: swap;
  src: url("../fonts/Gilroy-Extrabold.woff") format("woff"), url("../fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy-HeavyItalic";
  font-display: swap;
  src: url("../fonts/Gilroy-HeavyItalic.woff") format("woff"), url("../fonts/Gilroy-HeavyItalic.woff2") format("woff2");
  font-weight: 1000;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy-Light";
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Heavy";
  font-display: swap;
  src: url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.woff2") format("woff2");
  font-weight: 1000;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-LightItalic";
  font-display: swap;
  src: url("../fonts/Gilroy-LightItalic.woff") format("woff"), url("../fonts/Gilroy-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy-Medium";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-MediumItalic";
  font-display: swap;
  src: url("../fonts/Gilroy-MediumItalic.woff") format("woff"), url("../fonts/Gilroy-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-RegularItalic";
  font-display: swap;
  src: url("../fonts/Gilroy-RegularItalic.woff") format("woff"), url("../fonts/Gilroy-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy-Semibold";
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-SemiboldItalic";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiboldItalic.woff") format("woff"), url("../fonts/Gilroy-SemiboldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy-Thin";
  font-display: swap;
  src: url("../fonts/Gilroy-Thin.woff") format("woff"), url("../fonts/Gilroy-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-ThinItalic";
  font-display: swap;
  src: url("../fonts/Gilroy-ThinItalic.woff") format("woff"), url("../fonts/Gilroy-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy-UltraLight";
  font-display: swap;
  src: url("../fonts/Gilroy-UltraLight.woff") format("woff"), url("../fonts/Gilroy-UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-UltraLightItalic";
  font-display: swap;
  src: url("../fonts/Gilroy-UltraLightItalic.woff") format("woff"), url("../fonts/Gilroy-UltraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 1120px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 72px;
}

.header__logo {
  margin: 0 28px 0 0;
}

.header__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 473px;
  padding: 0;
}

.header__item {
  font-family: "Gilroy-Medium";
  color: black;
  font-size: 15px;
  line-height: 16px;
}

.header__item:hover {
  cursor: pointer;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 139px;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.deposit {
  color: #000000;
  font-family: "Gilroy-Medium";
  font-size: 15px;
  line-height: 16px;
}

.blue {
  color: #276eaf;
  font-family: "Gilroy-Medium";
  font-size: 15px;
  line-height: 16px;
}

.btn {
  width: 188px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f7f7f7;
  border-radius: 16px;
  border: none;
}

.btn__text {
  display: block;
  width: 156px;
  height: 16px;
  font-family: "Gilroy-Medium";
  font-size: 15px;
  line-height: 16px;
  color: #000000;
  text-align: center;
}

.btn:active,
.btn:focus {
  outline: none;
}

.nav {
  -webkit-box-shadow: 0px -0.5px 0px #e4e4e4;
          box-shadow: 0px -0.5px 0px #e4e4e4;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  font-family: "Gilroy-Medium";
  font-size: 15px;
  line-height: 16px;
  color: black;
  text-decoration: none;
}

.nav__item:not(:last-child) {
  margin-right: 24px;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1120px;
}

.basket-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 188px;
  height: 48px;
  background: #000000;
  border-radius: 16px;
  text-decoration: none;
}

.basket-btn__logo {
  margin-right: 19px;
}

.basket-btn__text {
  color: #f4ffdc;
  font-family: "Gilroy-Medium";
  font-size: 15px;
  line-height: 16px;
  margin-right: 19px;
  display: block;
}

.basket-btn__line {
  width: 1px;
  height: 16px;
  background: #ffffff;
  border-radius: 16px;
  margin-right: 8px;
  display: block;
}

.basket-btn__count {
  font-family: "Gilroy-Medium";
  font-size: 15px;
  line-height: 16px;
  color: #000000;
  display: block;
}

.back {
  width: 25px;
  height: 24px;
  background: #ffffff;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-container {
  width: 100%;
  height: 480px;
  border-radius: 15px;
  margin-bottom: 48px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-pagination-bullet {
  display: block;
  background: #fff;
  width: 6px;
  height: 6px;
  opacity: 1;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 16px;
}

.swiper-pagination-bullet-active {
  display: block;
  background-color: #fff;
  width: 10px;
  height: 10px;
}

.swiper-container .swiper-button-prev::after,
.swiper-container .swiper-button-next:after {
  color: none;
  font-size: 0px;
}

.swiper-button-prev {
  width: 44px;
  height: 44px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  color: #ffffff;
}

.swiper-button-next {
  width: 44px;
  height: 44px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  color: #ffffff;
}

.swiper-button-next img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 32px;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 32px;
}

.programms {
  margin-bottom: 32px;
}

.programms__title {
  color: #000000;
  font-family: "Gilroy-Bold";
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 32px;
}

.programms__list {
  display: grid;
  grid-template: auto / 159.33px 159.33px 159.33px 159.33px 159.33px 159.33px;
  grid-column-gap: 32px;
}

.programms__item {
  height: 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.programms__item__logo {
  margin-bottom: 16px;
}

.programms__item__text {
  width: 135.33px;
  color: #343434;
  text-align: center;
  font-family: "Gilroy-Regular";
  font-size: 15px;
  line-height: 16px;
}

.popular {
  margin-bottom: 77px;
}

.popular__title {
  font-family: "Gilroy-Semibold";
  font-size: 27px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 32px;
}

.popular__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popular__item {
  width: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 32px;
}

.popular__item.continue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #85af27;
  border-radius: 16px;
  width: 256px;
  height: 440px;
  margin-right: 0px;
}

.popular__item.continue span {
  font-family: "Gilroy-Semibold";
  font-size: 27px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
  width: 168px;
}

.popular__item__img {
  width: 256px;
  height: 256px;
  border-radius: 15px;
  margin-bottom: 8px;
}

.popular__item__title {
  font-family: "Gilroy-Semibold";
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 8px;
  margin-left: 16px;
}

.popular__item__desc {
  color: #8d8d8d;
  font-family: "Gilroy-Regular";
  font-size: 15px;
  line-height: 16px;
  margin-bottom: 24px;
  margin-left: 16px;
}

.popular__item__price {
  color: #000000;
  font-family: "Gilroy-Medium";
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 16px;
  margin-left: 16px;
}

.popular__item__btn {
  background: #f4ffdc;
  border-radius: 16px;
  margin-left: 16px;
  width: 224px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  margin-bottom: 16px;
}

.popular__item__btn:active,
.popular__item__btn:focus {
  outline: none;
}

.popular__item__btn__text {
  color: #85af27;
  font-family: "Gilroy-Semibold";
  font-size: 17px;
  line-height: 24px;
  width: 92px;
}

.restaurant {
  margin-bottom: 48px;
}

.restaurant__title {
  font-family: "Gilroy-Extrabold";
  font-size: 32px;
  line-height: 40px;
  color: #000000;
}

.restaurant__nav {
  margin-bottom: 32px;
}

.restaurant__list {
  list-style-type: none;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant__item {
  font-family: "Gilroy-Semibold";
  font-size: 15px;
  margin-right: 24px;
  line-height: 16px;
  margin-right: 24px;
}

.restaurant__block {
  margin-bottom: 32px;
}

.restaurant__block__title {
  font-family: "Gilroy-Semibold";
  font-size: 27px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 32px;
}

.restaurant__block__grid {
  display: grid;
  grid-template: "item item item item" auto / auto;
  grid-gap: 32px;
}

.restaurant__block__item {
  width: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant__block__item__photo {
  width: 100%;
  height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 8px;
}

.restaurant__block__item__title {
  font-family: "Gilroy-Semibold";
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 8px;
}

.restaurant__block__item__desc {
  width: 100%;
  height: 24px;
  color: #8d8d8d;
  font-family: "Gilroy-Medium";
  font-size: 15px;
  line-height: 16px;
  margin-bottom: 16px;
}

.restaurant__block__item__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}

.restaurant__block__item__price {
  color: #000000;
  font-family: "Gilroy-Medium";
  font-size: 17px;
  line-height: 24px;
}

.restaurant__block__item__btn {
  width: 128px;
  height: 48px;
  background: #f4ffdc;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

.restaurant__block__item__btn:active,
.restaurant__block__item__btn:focus {
  outline: none;
}

.restaurant__block__item__btn__text {
  color: #85af27;
  font-family: "Gilroy-Semibold";
  font-size: 17px;
  line-height: 24px;
  width: 96px;
  height: 24px;
}

.footer {
  width: 100%;
  padding: 32px 0 48px 0;
  display: grid;
  grid-template: auto / 256px 256px 256px 256px;
  grid-column-gap: 32px;
}

.footer__logo {
  margin-top: 8px;
  margin-bottom: 20px;
}

.footer__text {
  font-family: "Gilroy-Medium";
  font-size: 17px;
  line-height: 24px;
}

.footer__services__list,
.footer__website__list {
  list-style-type: none;
}

.footer__services__item,
.footer__website__item {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__services__item.title,
.footer__website__item.title {
  color: #343434;
  font-family: "Gilroy-Semibold";
  font-size: 17px;
  line-height: 24px;
  height: 48px;
}

.footer__services__link,
.footer__website__link {
  color: #8d8d8d;
  font-family: "Gilroy-Medium";
  font-size: 15px;
  line-height: 16px;
  text-decoration: none;
}

.footer__services__link:hover,
.footer__website__link:hover {
  text-decoration: underline;
}

.footer__services__link:active,
.footer__website__link:active {
  text-decoration: none;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contacts__phone {
  color: #85af27;
  font-family: "Gilroy-Medium";
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 24px;
  margin-top: 12px;
  text-decoration: none;
}

.footer__contacts__phone:hover {
  text-decoration: underline;
}

.footer__contacts__phone:active {
  text-decoration: none;
}

.footer__contacts__geo {
  color: #000000;
  font-family: "Gilroy-Medium";
  font-size: 17px;
  line-height: 24px;
}

.footer__contacts__work-time {
  color: #8d8d8d;
  font-family: "Gilroy-Medium";
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 26px;
}

.footer__contacts__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
}

.footer__contacts__social {
  margin-right: 16px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}